body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('bg-4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: whitesmoke;
    letter-spacing: 1vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5vw;
    text-shadow: 2px 2px 2px black ;
}

.digital-clock {
    display: flex;
    margin: 1vw;
}

.digital-clock div {
    margin: 0.5vw;
    position: relative;
    box-shadow: 0px 0px 5px black;

}

.digital-clock span {
    width: 10vw;
    height: 10vw;
    background-color: #ffd4ff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8vw;
    opacity: 0.5;


}

.digital-clock .text {
    background-color: green;
    font-size: 1vw;
    color: #ffd4ff;
    height: 2vw;
    text-transform: uppercase;
}

.digital-clock #ampm {
    position: absolute;
    bottom: 0;
    font-size: 1.5vw;
    height: 3vw;
    width: 3vw;
    box-shadow: 0px 0px 10px black;

}
